@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="error">
    <div class="container">
        <div class="error-top">
            <h3 class="wow fadeInUpBig animated animated animated" data-wow-delay="0.2s" style="visibility: visible;
                animation-delay: 0.2s; animation-name: fadeInUpBig;">
                <span>ERROR!</span></h3>
            <p>
                Sorry, an error occurred while processing your request...</p>
            <div class="error-btn wow fadeInDownBig animated animated animated" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDownBig;">
                <a href="index.html">Back To Home</a>
            </div>
        </div>
    </div>
</div>
@*<h2>
    Sorry, an error occurred while processing your request.
</h2>*@
