@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<HTML>
<HEAD>
<TITLE>网站后台管理</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
</HEAD>
<FRAMESET border="0" frameSpacing="0" rows="60, *" frameBorder="0">
<FRAME name="header" src="Header" frameBorder="0" noResize scrolling="no">
<FRAMESET cols="190, *">
<FRAME name=menu src="Left" frameBorder="0" noResize>
<FRAME name=main src="" frameBorder="0" noResize scrolling="yes">
</FRAMESET>
</FRAMESET>
<noframes>
</noframes>
</HTML>

